@model List<EpiHot.Models.Service>

<h2>Elenco Servizi</h2>
<table class="table">
    <thead>
        <tr>
            <th>Tipo di Servizio</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var service in Model)
        {
            <tr>
                <td>@service.ServiceType</td>
                <td>
                    <div class="d-flex">
                        <button type="button" class="btn btn-warning btn-sm btnUpdate me-1" data-id="@service.ServiceId" data-type="@service.ServiceType" onclick="loadUpdateServicePartial(@service.ServiceId)">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm btnDelete" data-id="@service.ServiceId" onclick="deleteService(@service.ServiceId)">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>