@model List<EpiHot.Models.Dto.ReservationDto>

<h2>Elenco Prenotazioni</h2>
<table class="table">
    <thead>
        <tr>
            <th>Nome completo</th>
            <th>Numero stanza</th>
            <th>Numero prenotazione</th>
            <th>Data di prenotazione</th>
            <th>Data di inizio soggiorno</th>
            <th>Data di fine soggiorno</th>
            <th>Caparra</th>
            <th>Prezzo</th>
            <th>Tipo di soggiorno</th>
            <th>Prezzo tipo di soggiorno</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reservation in Model)
        {
            <tr>
                <td>@reservation.CustomerFullName</td>
                <td>@reservation.RoomNumber</td>
                <td>@reservation.ReservationNumber</td>
                <td>@reservation.ReservationDate.ToString("dd/MM/yyyy")</td>
                <td>@reservation.ReservationStartStayDate.ToString("dd/MM/yyyy")</td>
                <td>@reservation.ReservationEndStayDate.ToString("dd/MM/yyyy")</td>
                <td>@reservation.ReservationDeposit</td>
                <td>@reservation.ReservationPrice</td>
                <td>@reservation.ReservationType.ToString()</td>
                <td>@reservation.ReservationTypePrice</td>
                <td class="d-flex flex-column">
                    <a href="@Url.Action("AddServiceToReservationPartial", "Service", new { reservationId = reservation.ReservationId })">Aggiungi servizio</a>
                    <a href="#">Checkout</a>
                </td>
            </tr>
        }
    </tbody>
</table>